body {
  overflow-x: hidden;
}
.header-part {
  /* background-image: url(resources/Banner\ Image.png); */
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0,  0.9);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(resources/Banner\ Image.png);
}

.header-div {
  margin-top: 14%;
}

.header-h1 {
  font-size: 2rem;
  margin-left: 28% !important;
}

.header-h2 {
  font-size: 5rem;
}

.new {
  font-size: 5rem;
  text-align: center;
  margin-left: 4% !important;
}

.header-h1,
.header-h2,
.new {
  margin: 0;
  color: white;
  /* text-align: center; */
}
p {
  text-align: center;
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 177px;
  margin-bottom: 0px;
  filter: brightness(100%);
  /* margin: 0px;
  padding: 0px;
  gap: 0px; */
}
h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  padding-bottom: 10px;
  filter: brightness(100%);
  margin: 0px;
  padding: 0px;
  gap: 0px;
}
.j-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  margin: 80px auto;
}
.j-section b {
  color: #f00;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 34px; /* 175% */
  text-transform: capitalize;
}

.j-section p {
  color: black;
  margin: 6px 0;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  margin-right: 10.5%;
}

.j-button {
  display: inline-flex;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 4%;
  margin-right: 4px;
}
.jio {
  margin-top: 6%;
  text-align: center;
}

h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
#holi {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
  gap: 0px;
  margin: 0 px;
  padding: 0px;
}

h5 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
body section {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
/* .year {
  background-image: url(resources/New\ Year\ Photo.png);
  width: 802.9px;
  height: 500px;
  background: no-repeat;
} */
.HNP {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  padding-top: 100px;
  margin-left: 280px;
  margin-bottom: 80px;
}

.party {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(resources/Vectorrr.png);
}

.party1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  text-align: left;
  padding-left: 126px;
  padding-top: 126px;
}
.party span{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin: 10px;
}
div p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-top: 4px;
  padding-left: 126px;
  /* padding-bottom: 48px; */
  text-align: left;
}
.join-now {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 88px;
  padding-left: 18px;
  padding-bottom: 48px;
  margin-bottom: 50px;
  padding: 0px;
  gap: 0px;
}
.join {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  margin-top: 120px;
  padding: 0px;
  gap: 0px;
  font-family: "Courier New", Courier, monospace;
}
b {
  color: red;
}
button {
  display: inline-flex;
  padding: 16px 32px;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  margin-left: 600px;
  margin-top: 50px;
}

section .join p {
  color: black;
}

#hotel {
  color: black;
}
/* .diff-img{
  background-image: url(resources/Group\ 96.png);
  width: 1600px;
  height: 7335px;
  background: no-repeat;
} */

.folio {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.gift {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 0px;
  padding: 0px;
  text-align: left;
}
#tbg {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.img {
  margin-left: 3%;
}
/* #big-fish{
  margin:0px;
  padding: 0px;
} */

.sixpic {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(resources/Rectangle\ 3.png),
    lightgray 0px -35.755px / 100% 142.115% no-repeat;
  display: flex;
  padding: 0px;
  gap: 10px;
  margin-left: 3%;
  margin-right: 5%;
  /* margin-top: 0px; */
}

.msg {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 6%;
  padding-top: 8%;
  position: center;
}
.msg img {
  padding-left: 0%;
}
.msg p {
  text-align: center;
  margin-right: 11%;
}
.msg button {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  margin-left: 25%;
  border-color: white;
}
.subs {
  width: 190px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  margin-left: 313px;

}
button {
  margin-top: 30px; 
}


/* button .subs {
  
} */

.subs{
  text-align: center;
  /* padding-top: 14px; */
  font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 100px;
color: white;
}

/* color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 150;
line-height: normal;
text-transform: capitalize; */
footer {
  background: #070211;
  width: 1600px;
  height: 609px;
  flex-shrink: 0;
  color: #fff;
  margin-top: 70px;
  border-radius: 5px;
  /* margin-left:10px;
  margin-right:30px; */
}
/* footer div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  margin-top: 10px;
} */
footer div {
  display: flex;
}
.address {
  margin-top: 120px;
  margin-left: 140px;
}
.call {
  margin-top: 116px;
  margin-left: 550px;
  margin-right: 275px;
}
/* footer hr {
  width: 1600px;
  height: 609px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.15);
  margin-left: 140px; 
  margin-right: 0%;
  margin-bottom: 200%;
} */

footer .four {
  gap: 10px;
  margin-left: 520px;
  margin-top: 94px;
}
.copyright {
  display: flex-inline;
  margin-top: 10px;
  padding-top: 5px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.copy {
  margin-top: 65px;
  margin-right: 100px;
  margin-left: 130px;
  display: inline;
}
.right {
  margin-top: 65px;
  margin-left: 580px;
  /* margin-right: 2075px; */
  margin-bottom: 120px;
}
#Coming {
  width: 1600px;
  height: 550px;
  background: #fff;
  margin-top: 50px;
  /* margin: 4%; */
  display: flex;
  gap: 2%;
}
.all {
  margin-top: 5%;
}
.offer {
  /* text-align: center; */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}
.soon {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.dolorsit {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 410;
  line-height: 32px; /* 160% */
}
.circle {
  width: 364px;
  height: 364px;
  flex-shrink: 0;
  border-radius: 364px;
  border: 13px solid #f00;
  margin-bottom: 140%;
}
.circle img {
  width: 320px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 320px;
  padding: 5.6%;
  /* background: url(<path-to-image>),
    lightgray -91.279px 0px / 150.038% 100% no-repeat; */
}
.year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}
.write {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 6px;
}
.happypic {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

#winter-sale {
  width: 1600px;
  height: 514px;
}
.FUNCTIONAL {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-right: 25%;
}
.sale50P {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25%;
}
.P50sale {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}
.sitdolor {
  width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
